# === General ===
.gradle/
build/
out/
bin/

# === IntelliJ / Eclipse ===
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/

# === OS / Misc ===
.DS_Store
Thumbs.db

# === Minecraft Specific ===
run/
logs/
/1.20.1/forge/src/generated/
